<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
   <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <heliconZoo>
      <application name="django.project.x86" >
        <environmentVariables>
          <add name="PYTHONPATH" value="%APPL_PHYSICAL_PATH%\project;%APPL_PHYSICAL_PATH%\lib\site-packages;%PYTHONPATH%" />
          <add name="DJANGO_SETTINGS_MODULE" value="project.settings" />
          <add name="django.root" value="%APPL_VIRTUAL_PATH%" />
        </environmentVariables>
      </application>
      <application name="django.project.x64" >
        <environmentVariables>
          <add name="PYTHONPATH" value="%APPL_PHYSICAL_PATH%\project;%APPL_PHYSICAL_PATH%\lib\site-packages;%PYTHONPATH%" /> 
          <add name="DJANGO_SETTINGS_MODULE" value="project.settings" />
          <add name="django.root" value="%APPL_VIRTUAL_PATH%" />
        </environmentVariables>
      </application>
    </heliconZoo>
    <handlers>
      <add name="django.project.x86" scriptProcessor="python.2.7.pipe" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="django.project.x64" scriptProcessor="python.2.7.pipe" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="robots" stopProcessing="true">
          <match url="^(robots\.txt)$" ignoreCase="false" />
          <action type="Rewrite" url="/static/robots.txt" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>